## Exercises: 13. Data Frames

#### Problem 1

Use the [DataFrame](https://dataframes.juliadata.org/stable/) below and apply the following operations:

In [ ]:
using DataFrames, Statistics

data = Dict("Name" => ["Alice", "Bob", "Charlie", "David", "Emma", "Fiona"], 
            "Age" => [20, 30, 25, 19, 30, 28],
            "Height" => [175, 188, 182, 192, 172, 168],
            "Weight" => [72, 80, 85, 79, 65, 62], 
            "City" => ["New York", "London", "Paris", "New York", "Madrid", "Paris"])
df = DataFrame(data)

a) Access row 2, column "Age"

In [ ]:
# your code here

b) Extract the column "City" as a 6-element Vector and as a 6x1 DataFrame

c) Return a copy of data frame using [`subset`](https://dataframes.juliadata.org/stable/lib/functions/#DataFrames.subset) under the condition that the age of the person is greater than 20.

d) Calculate the average height of all persons. 

Hint: The functions `mean` is available in the `Statistics` package.

e) Calculate the average age of the people in the different cities.

Hint: Use [`groupby`](https://dataframes.juliadata.org/stable/lib/functions/#DataFrames.groupby) and [`combine`](https://dataframes.juliadata.org/stable/lib/functions/#DataFrames.combine). Check out the [Grouping data and aggregation]((https://dataframes.juliadata.org/stable/man/comparisons/#Grouping-data-and-aggregation)) section of the DataFrames.jl webpage.

f) Add a new column with the [body mass index](https://en.wikipedia.org/wiki/Body_mass_index) of each person.

g) Modify the dataframe so that all city names are given in uppercase letters.

h) Sort the data according to the BMI value

i) Create a new dataframe `df_new` where the Age, Weight, and BMI columns are removed.

#### Problem 2

Books are identified by an ID in a library. We have a data frame with book titles and a data frame with book prices.

In [ ]:
using DataFrames

# Create two example DataFrames
df1 = DataFrame(Book_ID = [1, 2, 3, 4],
                Title = ["The Great Gatsby", "To Kill a Mockingbird", "1984", "The Catcher in the Rye"])

df2 = DataFrame(Book_ID = [2, 3, 5, 6],
                Price = [15.99, 12.50, 10.75, 20.00])

a) Create a new table with the columns *Title* and *Price* which contains those books where both the title and the price are known. 

Hint: check out the [Introduction to joins](https://dataframes.juliadata.org/stable/man/joins/)

In [ ]:
# your code here

b) Create a new table with the columns *Title* and *Price* for all books. If the *Title* or *Price* is not known the table should have the entry *missing*.